@import './global.scss';
@import './main.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.container {
  @extend %flex-container-column;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 60px;
  font-family: "Lato";
}

