@import './main.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.container {
  @extend %flex-container-column;
  justify-content: space-between;
  padding: 45px 0;
  font-family: "Lato";
  min-height: 100vh;
}

