$page-gold: #C0B283;
$silk: #DCD0C0;
$paper: #F4F4f4;
$white: #ffffff;
$charcoal: #373737;

$main-nav-bg: $silk;
$main-nav-color: $charcoal;
$main-nav-active-link-bg: $charcoal;
$main-nav-active-link-color: $silk;

