$page-gold: #C0B283;
$silk: #DCD0C0;
$navy-blue: #0d1d30;
$light-gray: #bdbabb;
$paper: #F4F4f4;
$white: #ffffff;
$charcoal: #373737;
$transparent: rgba(255, 255, 255, 0);

/* main nav colors */
$main-nav-bg: $silk;
$main-nav-color: $charcoal;
$main-nav-active-link-bg: $charcoal;
$main-nav-active-link-color: $silk;
$main-nav-border-color: $paper;

/*left sidebar*/
$left-sidebar-link-color: $navy-blue;
$left-sidebar-link-border-color: $paper; 

/* product list colors */
$product-title-bg-color: $silk; 
$product-title-border-color: $light-gray; 
$product-color: $charcoal; 
$product-image-border-bottom-color: $silk;
$product-image-border-top-color: $white;
$product-description-bg: $paper;



/* loader color */
$loader-bg: $charcoal;

