$silk: #DCD0C0;
$light-gray: #bdbabb;
$mid-gray: #595959;
$paper: #F4F4f4;
$white: #ffffff;
$charcoal: #373737;
$white-transparent-20: rgba(255, 255, 255, 0.2);
$black-transparent-30: rgba(0,0,0,0.3);
$transparent: rgba(185, 85, 85, 0);
$red: #ff0303;


/* main nav colors */
$main-nav-bg: $silk;
$main-nav-color: $charcoal;
$main-nav-active-link-bg: $charcoal;
$main-nav-active-link-color: $silk;
$main-nav-border-color: $paper;
$favourites-count-bg: $charcoal;
$favourites-count-color: $white;
$favourites-count-border-color: $white;

/*left sidebar*/
$left-sidebar-bg-color: $charcoal;
$left-sidebar-link-color: $charcoal;
$left-sidebar-link-color-mobile: $charcoal;
$left-sidebar-link-border-color: $paper; 
$left-sidebar-link-border-color-current: $charcoal; 
$left-sidebar-bg-color: $paper;
$left-sidebar-mobile-icon-bg-color: $paper;

/* product list colors */
%product-image-gradient {
    background: linear-gradient(to right, $paper 0%, $mid-gray 50%,  $paper 100%);
}

$product-title-bg-color: $silk; 
$product-title-color: $charcoal;
$product-color: $charcoal; 
$product-image-border-color: $silk;
$product-image-border-top-color: $white;
$product-description-bg: $paper;
$product-favourite-button-bg: $paper;
$product-favourite-icon-hover-color: $paper;
$product-favourite-button-border: $charcoal;
$product-favourite-stroke: $charcoal;
$product-favourite-select-stroke: $red;
$product-favourite-select-fill: $red;
$product-sale-bg-color: $charcoal;
$product-sale-color: $white;

$product-show-button-bg: $white;
$product-show-button-bg-hover: $charcoal;
$product-show-button-color: $charcoal;
$product-show-button-color-hover: $paper;

/* footer colors */
$footer-color: $charcoal;
$footer-item-border-color:  $charcoal;
$footer-link-color:  $charcoal;
$footer-link-color-hover:  $mid-gray;

/* loader color */
$loader-bg: $charcoal;