@import './ProductList.scss';

.containerFavourites {
  @extend %flex-container-row-center;
  @extend %flex-item-1;
  background-image: url("/client/images/backgrounds/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.remove {
  width: 30px;
  height: 30px;
}

.message {
  padding: 20px 0;
}