@import './ProductList.scss';

.container {
  @extend %flex-container-row-flex-start;
  width: 100%;
}

.containerFavourites {
  @extend %flex-container-row-center-wrap;
  width: calc(100% - 200px);

  @media (min-width: 380px) and (max-width: 820px) and (orientation: landscape) {
    width: 100%;
    justify-content: center;
  }

  @media screen and (max-width: 567px) {
    width: 100%;
    min-width: initial;
  }
}

.buttonRemove {
  transition: all .3s ease;
  line-height: 0.8;

  @media (hover:hover) {
    &:hover {
      svg path {
        fill: $product-favourite-icon-hover-color;
      }
    }
  }
}

.buttonShow {
  background-color: $product-show-button-bg !important;
  color: $product-show-button-color;
  border-top: 1px solid $light-gray !important;
  border-bottom: 1px solid $light-gray !important;
  padding: 5px;
  transition: all .3s ease;

  @media (hover:hover) {
    &:hover {
      background-color: $product-show-button-bg-hover !important;
      color: $product-show-button-color-hover;
    }
  }
}

.message {
  @extend %flex-container-row-center;
  align-items: center;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.star { 
  margin: 5px;
  animation: bounce 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}