@import './ProductList.scss';

.container {
  @extend %flex-container-row-flex-start;
  width: 100%;
}

.containerFavourites {
  @extend %flex-container-row-center-wrap;
  width: calc(100% - 200px);

  @media all and (max-width: 567px) {
    width: 100%;
    min-width: initial;
  }
}

.buttonRemove {
  transition: all .3s ease;
  &:hover {
    svg path {
      fill: $product-favourite-icon-hover-color;
    }
  }
}

.message {
  padding: 20px;
  width: 100%;
  text-align: center;
}