@import './main.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.container {
  @extend %flex-container-row-center-wrap;
  padding: 10px;
  margin-top: 30px;
  font-family: "Lato";
  background-color: $footer-bg-color;
  color: $footer-color;
  border-top: 3px solid $footer-item-border-color;
}

.containerItem {
  @extend %flex-container-column;
  @extend %flex-item-1;
  justify-content: stretch;
  padding: 0 2%;

  @media all and (max-width: 768px) {
    flex-basis: 50%;
  }

  @media all and (max-width: 567px) {
    flex-basis: 100%;
  }
}

.link {
  color: $footer-link-color;
  transition: color .3s ease;
  padding: 5% 0;

  &:hover {
    color: $footer-link-color-hover;
  }
}

