@import './colors.scss';

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $charcoal;
    transition: all .3s ease;
    
    &:visited {
        color: $charcoal;
        text-decoration: none;
    }
    
    &:active,  &:focus {
        color: $mid-gray;
        text-decoration: none;
    }

    @media (hover:hover) {
        &:hover {
            color: $mid-gray;
            text-decoration: none;
        }  
    }
}   

button {
    background: none !important;
    border: none !important;
    outline: none !important;
    cursor: pointer !important;
}
  
::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
  } 
  
  ::-webkit-scrollbar-thumb {
    background-color: #727272;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #F5F5F5;
  }
