@import './main.scss';

.mainContainer {
  width: 100%;
  margin-top: -20px;

}

.sliderImage {
  max-height: 95vh;
}

.mobileLeftSidebar {
  display: none;

  @media (max-width: 567px) {
    display: flex;
  }
}
