@import './main.scss';

.navContainer {
    @extend %flex-container-column;
    align-self: stretch;
    min-width: 200px;
    padding: 10px 0;
}

.navItem {
    @extend %flex-container-column;
    color: $left-sidebar-link-color;
    padding: 5px;
    border-bottom: 1px solid $left-sidebar-link-border-color;
    border-top: 2px solid $transparent;
    border-bottom: 2px solid $transparent;
    transition: all .3s ease;

    &:hover, &:focus, &:active, &.current  {
        background-color: $paper;
        border-top: 2px solid $left-sidebar-link-border-color-current;
        border-bottom: 2px solid $left-sidebar-link-border-color-current;
    }
}

.subNavContainer {
    @extend %flex-container-column;
    align-self: stretch;
    list-style-type: none;
    padding: 0;
    margin: 0;
    animation: fade-in .3s ease-in;

    .navItem {
        padding-left: 15px; 
    }
}
