@import './main.scss';

.navContainer {
    @extend %flex-container-column;
    position: relative;
    align-self: stretch;
    min-width: 200px;
    padding: 10px;
   
    @media screen and (max-width: 567px) {
        position: fixed;
        left: -200px;
        top: 40px;
        background-color: $left-sidebar-bg-color;
        transition: all .2s ease;
        z-index: 1;
        padding: 0;

        &.active {
            left: 0;
            width: 100%;
        }
    }

}

.navIconMobile {
    display: none;
    position: absolute;
    justify-content: center;
    top: -42px;
    right: -140px;
    right: -60px;
    width: 60px;
    height: 40px;
    z-index: 100;
    background-color: $left-sidebar-mobile-icon-bg-color;
    cursor: pointer;

    &.removeIcon {
        left: 0;
    }
}

.navItem {
    @extend %flex-container-column;
    color: $left-sidebar-link-color;
    padding: 5px;
    line-height: 30px;
    border-left: 4px solid $left-sidebar-link-border-color;
    border-bottom: 1px solid $white;
    transition: all .3s ease;

    @media (hover:hover) {
        &:hover, &:focus, &:active  {
            border-left: 4px solid $left-sidebar-link-border-color-current;
            background-color: transparent;
            color: $charcoal;
        }
    }

    &.current  {
        border-left: 4px solid $left-sidebar-link-border-color-current;
        background-color: transparent;
        color: $charcoal;
    }   
}

.subNavContainer {
    @extend %flex-container-column;
    align-self: stretch;
    list-style-type: none;
    padding: 0;
    margin: 0;
    animation: fade-in .3s ease-in;

    .navItem {
        padding-left: 15px; 
    }
}

@media (max-width: 567px) {
    .navItem {
        background-color: $left-sidebar-bg-color;
        color: $left-sidebar-link-color-mobile;
    }

    .navIconMobile {
        display: flex;
    }
}
