@import './colors.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
    margin: 0;
}

%flex-container-row-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  