@import './colors.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
  margin: 0;
}

a {
  text-decoration: none !important;
  color: $charcoal;
  transition: all .3s ease;

  &:visited {
    color: $charcoal;
  }

  &:hover {
    color: $mid-gray;
  }
}

button {
  background: none !important;
  border: none !important;
  outline: none !important;
  cursor: pointer !important;
}

$mobile: '(max-width: 567px)';

/* flex box model */

@for $i from 1 through 10 {
  %flex-item-#{$i} {
      flex: #{$i};
  }
}

%flex-container-row {
  display: flex;
  flex-direction: row;
}

%flex-container-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

%flex-container-row-center-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

%flex-container-row-flex-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

%flex-container-row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

%flex-container-column {
  display: flex;
  flex-direction: column;
}

%flex-container-column-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Loader */

.loader {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;

    .loaderCubeOne, .loaderCubeTwo {
        background-color: $loader-bg;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 0;
        left: 0;
        animation: sk-cubemove 1.8s infinite ease-in-out;
    }

    .loaderCubeTwo {
        animation-delay: -0.9s;
    }
}

@keyframes sk-cubemove {
    25% { 
      transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 
    50% { 
      transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 
    50.1% { 
      transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 
    75% { 
      transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 
    100% { 
      transform: rotate(-360deg);
    }
  }

  
@keyframes fade-in {
  0% { 
    opacity: 0;
  } 
  100% { 
    opacity: 1;
  }
}

  /* clip path */
  %clip-path-arrow-right {
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  }

  %clip-path-arrow-left {
    -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  }
  