@import './main.scss';

.navContainer {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: strech;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-family: "Lato";
  background-color: $main-nav-bg;
  border-bottom: 5px solid $main-nav-border-color;
}

.navItem, .navItemMobile {
  @extend %flex-container-row-center;
  align-items: center;
  @extend %flex-item-1;
  color: $main-nav-color;
  text-transform: uppercase;
  transition: background .3s ease;

  &:hover, &.current {
    background-color: $main-nav-active-link-bg;
    color: $main-nav-active-link-color;

    svg path {
      fill: $main-nav-active-link-color;
    }
  }
}

.navItemMobile { 
  display: none;
}

.favouritesCount {
  background-color: $favourites-count-bg;
  margin: auto 5px;
  color: $favourites-count-color;
  width: 25px;
  height: 25px;
  border: 1px solid $favourites-count-border-color;
  line-height: 1.6;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border-radius: 18px;
  transition: background .3s ease;
}

.icon {
  display: none;
}

@media (max-width: 567px) {
  .text {
    display: none;
  }

  .icon {
    display: flex;
  }
  

  .navItemMobile, .navItem {
    border-right: 1px solid  $main-nav-border-color;
  }

  .navItemMobile {
    display: flex;
  }
}