@import './main.scss';

.container {
  @extend %flex-container-row-center;
  width: calc(100% - 300px);
}

.productContainer {
  @extend %flex-container-row-center-wrap;
  margin: 5px;
  text-decoration: none;
  color: $product-color;
}

.productItem {
  @extend %flex-container-column;
  margin: 10px;
  width: 300px;
}

.buttonAdd {
  background: none;
  border: none;
  outline: none;
  vertical-align: middle;
  cursor: pointer;
  transition: background .3s ease;

  &:hover, &.selected {
    background-color: $product-favourite-button-bg;
  }
}

.productDescription {
  background-color: $product-description-bg;
  padding: 0 10px;
}

.productImage {
  max-width: 300px;
  height: 200px;
  border-bottom: 3px solid $product-image-border-bottom-color;
}

.title {
  margin-bottom: 5px;
  text-indent: 10%;
  color: $product-title-color;
  background-color: $product-title-bg-color;
  border-top: 3px solid $product-title-border-color;
  text-transform: uppercase;
}

.groupTitle {
  margin-bottom: 5px;
  padding: 5px;
  color: $product-title-color;
  background-color: $product-title-bg-color;
  border-top: 3px solid $product-title-border-color;
  text-transform: uppercase;
  text-align: center;
}