@import './main.scss';

.container {
  @extend %flex-container-row-center;

  @media screen and (max-width: 567px) {
    min-width: 100%;
  }
}

.mainContainer {
  @extend %flex-container-row-center;
}

.productContainer {
  @extend %flex-container-row-center-wrap;
  min-width: calc(100% - 200px);
  margin: 5px;
  text-decoration: none;
  color: $product-color;
}

.productItem {
  @extend %flex-container-column;
  margin: 10px;
  width: 300px;
  box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.3);

  &:nth-child(odd) {
    .productImage {
      order: 2;
    }
  }
}

.price {  
  @extend %flex-container-row-flex-start;
  position: relative;

  &.strike {
    text-decoration: line-through;
  }
  
  .sale {
    position: absolute;
    top: -10px;
    right: 10px;
    min-width: 60px;
    line-height: 2;
    padding: 5px;
    border-radius: 100%;
    font-size: 12px;
    background-color: $product-sale-bg-color;
    color: $product-sale-color;
    text-align: center;
    border-bottom: 3px solid $product-image-border-bottom-color;
  }
}

.buttonAdd {
  margin: 0 5px;
  padding: 0 2px;
  border-radius: 100%;
  transition: all .3s ease;
  line-height: 0.8;

  @media (hover:hover) {
    &:hover {
      background-color: $product-favourite-button-bg;
    }
  }

  &.selected {
    background-color: $product-favourite-button-bg;
  }
}

.buttonShow {
  background-color: $product-show-button-bg !important;
  color: $product-show-button-color;
  border-top: 1px solid $light-gray !important;
  border-bottom: 1px solid $light-gray !important;
  padding: 5px;
  transition: all .3s ease;

  @media (hover:hover) {
    &:hover {
      background-color: $product-show-button-bg-hover !important;
      color: $product-show-button-color-hover;
    }
  }
}

.productDescription {
  background-color: $product-description-bg;
  padding: 0 10px;
}

.productImage {
  max-width: 300px;
  height: 200px;
  border-bottom: 3px solid $product-image-border-bottom-color;
}

.title {
  @extend %flex-container-row-center ;
  padding: 10px;
  color: $product-title-color;
  background-color: $product-title-bg-color;
  text-transform: uppercase;
  align-items: center;
  font-size: 16px;
}

.groupTitle {
  padding: 5px;
  color: $product-title-color;
  background-color: $product-title-bg-color;
  text-transform: uppercase;
  text-align: center;
}

.starButton {
  transition: opacity .3s ease-in;

  svg path {
    stroke: $product-favourite-stroke;
  }

  &.active svg path {
    stroke: $product-favourite-select-stroke;
  }
}