@import './main.scss';

.container {
  @extend %flex-container-row-center;
  min-width: calc(100% - 200px);

  @media all and (max-width: 567px) {
    min-width: 100%;
  }
}

.mainContainer {
  @extend %flex-container-row-center;
}

.productContainer {
  @extend %flex-container-row-center-wrap;
  margin: 5px;
  text-decoration: none;
  color: $product-color;
}

.productItem {
  @extend %flex-container-column;
  background-color: $product-item-container-bg;
  margin: 10px;
  width: 300px;
  box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.3);

  &:nth-child(odd) {
    .productImage {
      order: 2;
    }
  }
}

.price {  
  @extend %flex-container-row-flex-start;
  position: relative;

  &.strike {
    text-decoration: line-through;
  }
  
  .sale {
    position: absolute;
    top: -10px;
    right: 10px;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 100%;
    font-size: 12px;
    background-color: $product-sale-bg-color;
    color: $product-sale-color;
    text-align: center;
    border-bottom: 3px solid $product-image-border-bottom-color;
  }
}

.buttonAdd {
  margin: 0 5px;
  padding: 0 2px;
  border-radius: 100%;
  transition: background .3s ease;

  &:hover, &.selected {
    background-color: $product-favourite-button-bg;
  }
}

.productDescription {
  background-color: $product-description-bg;
  padding: 0 10px;
}

.productImage {
  max-width: 300px;
  height: 200px;
  border-bottom: 3px solid $product-image-border-bottom-color;
}

.title {
  @extend %flex-container-row-center ;
  padding: 5px 10px;
  color: $product-title-color;
  background-color: $product-title-bg-color;
  text-transform: uppercase;
  align-items: center;
}

.groupTitle {
  margin-bottom: 5px;
  padding: 5px;
  color: $product-title-color;
  background-color: $product-title-bg-color;
  text-transform: uppercase;
  text-align: center;
}